body{
	margin: 14%;
	background-image: url(bg1.jpg) ;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: scroll;
}

.bigbox{
	width: 995px;
	height: 665px;
	position:relative;
	border: 1px solid transparent;
	margin:2.5px;
}
.block2{
	width: 995px;
	height: 335px;
	position:relative;
	border: 1px solid transparent;
	margin:2.5px;
}
.block3{
	width: 995px;
	height: 335px;
	position:relative;
	border: 1px solid transparent;
	margin:2.5px;
}

.boxb1{
	width: 655px;
	height: 660px;
	margin: 5px 5px 0px 5px;
	background: teal url(metroentrance.jpg) no-repeat center /cover;
	position: absolute;
}

.boxb2{
	width: 325px;
	height: 330px;
	margin-top:5px;
	margin-left: 665px;
	background: teal url(download.jfif) no-repeat center /cover;
	position: absolute;
}
.boxb3{
	display:block;
	width: 160px;
	height: 160px;
	margin-top: 340px;
	margin-left: 665px;
	position: absolute;
	background: teal url(png256/adobe_air.png) no-repeat center /cover;
}

.boxb4{
	display:block;
	width: 160px;
	height: 160px;
	margin-top: 340px;
	margin-left: 830px;
	position: absolute;
	background: teal url(png256/windows_movie_maker.png) no-repeat center /cover;
}

.boxb5{
	display: block;
	width: 325px;
	height: 160px;
	margin-top: 505px;
	margin-left: 665px;
	position: absolute;
background: blue url(png256/winrar.png) no-repeat center /cover;
}

.boxb6{
	display: inline-block;
	width: 160px;
	height: 160px;
	margin-top: 5px;
	margin-left: 5px;	
	position: absolute;
	background: teal url(png256/google_drive.png) no-repeat center /cover;
}

.boxb7{
	display: inline-block;
	width: 160px;
	height: 160px;
	margin-top: 5px;
	margin-left: 170px;
	position: absolute;
	background: teal url(png256/7zip.png) no-repeat center /cover;
}
.boxb8{
	display: inline-block;
	width: 160px;
	height: 160px;
	margin-top: 5px;
	margin-left: 335px;
	position: absolute;
	background: teal url(png256/apache.png) no-repeat center /cover;
}

.boxb9{
	display: inline-block;
	width: 160px;
	height: 160px;
	margin-top: 5px;
	margin-left: 500px;
	position: absolute;
	background: teal url(png256/cyberduck.png) no-repeat center /cover;
}

.boxb10{
	display: inline-block;
	width: 160px;
	height: 160px;
	margin-top: 5px;
	margin-left: 665px;
	position: absolute;
	background: teal url(png256/divx.png) no-repeat center /cover;
}
.boxb11{
	display: inline-block;
	width: 160px;
	height: 160px;
	margin-top: 5px;
	margin-left: 830px;
	position: absolute;
	background: teal url(png256/dvd_decrypter.png) no-repeat center /cover;
}
.boxb12{
	display: inline-block;
	width: 325px;
	height: 160px;
	margin-top: 170px;
	margin-left: 5px;
	position: absolute;
	background: teal url(png256/mirillis.png) no-repeat center /cover;
}

.boxb13{
	display: inline-block;
	width: 160px;
	height: 160px;
	margin-top: 170px;
	margin-left: 335px;
	position: absolute;
	background: teal url(png256/sunbird.png) no-repeat center /cover;
}

.boxb14{
	display: inline-block;
	width: 160px;
	height: 160px;
	margin-top: 170px;
	margin-left: 500px;
	position: absolute;
	background: teal url(png256/flash_drive_tester.png) no-repeat center /cover;
}
.boxb15{
	display: inline-block;
	width: 160px;
	height: 160px;
	margin-top: 170px;
	margin-left: 665px;
	position: absolute;
	background: teal url(png256/red_hat.png) no-repeat center /cover;
}
.boxb16{
	display: inline-block;
	width: 160px;
	height: 160px;
	margin-top: 170px;
	margin-left: 830px;
	position: absolute;
	background: teal url(png256/hmailserver.png) no-repeat center /cover;
}
.boxb17{
	display: block;
	width: 160px;
	height: 160px;
	margin-top: 5px;
	margin-left: 5px;
	position: absolute;
	background: teal url(png256/teamviewer.png) no-repeat center /cover;
}

.boxb18{
	display: block;
	width: 160px;
	height: 160px;
	margin-top: 5px;
	margin-left: 170px;
	position: absolute;
	background: teal url(png256/password_safe.png) no-repeat center /cover;
}
.boxb19{
	display: block;
	width: 160px;
	height: 160px;
	margin-top: 5px;
	margin-left: 335px;
	position: absolute;
	background: teal url(png256/perl.png) no-repeat center /cover;
}

.boxb20{
	display: block;
	width: 490px;
	height: 160px;
	margin-top: 5px;
	margin-left: 500px;
	position: absolute;
	background: teal url(1272147.jpg) no-repeat center /cover;
}
.boxb21{
	display: block;
	width: 325px;
	height: 160px;
	margin-top: 170px;
	margin-left: 5px;
	position: absolute;
	background: teal url(avengersendgame_lob_mas_mob_01.jpg) no-repeat center /cover;
}
.boxb22{
	display: block;
	width: 325px;
	height: 160px;
	margin-top: 170px;
	margin-left: 335px;
	position: absolute;
	background: teal url(png256/tobit_faxware.png) no-repeat center /cover;
}
.boxb23{
	display: block;
	width: 325px;
	height: 160px;
	margin-top: 170px;
	margin-left: 665px;
	position: absolute;
	background: teal url(png256/utility.png) no-repeat center /cover;
}

.boxb1 span{
	display: block;
	position: absolute;
}

.boxb1 .s1{
	font-family: 'Kaushan Script' , normal;
	font-size: 1em;
	bottom: 5px;
	left: 5px;
	color: white;
}
.boxb3 span{
	display: block;
	position: absolute;
}

.boxb3 .s3{
	font-family: 'Kaushan Script';
	font-size: 1em;
	bottom: 5px;
	left: 5px;
	color: white;
}

.boxb4 span{
	display: block;
	position: absolute;
}

.boxb4 .s4{
	font-family: 'Kaushan Script';
	font-size: 1em;
	bottom: 5px;
	left: 5px;
	color:white;
}
.boxb5 span{
	display: block;
	position: absolute;
}

.boxb5 .s5{
	font-family: 'Kaushan Script';
	font-size: 1em;
	bottom: 5px;
	left: 5px;
	color: white;
}

.boxb6 span{
	display: block;
	position: absolute;
}

.boxb6 .s6{
	font-family: 'Kaushan Script';
	font-size: 1em;
	bottom: 5px;
	left: 5px;
	color: white;
}
.boxb7 span{
	display: block;
	position: absolute;
}

.boxb7 .s7{
	font-family: 'Kaushan Script';
	font-size: 1em;
	bottom: 5px;
	left: 5px;
	color: white;
}
.boxb8 span{
	display: block;
	position: absolute;
}

.boxb8 .s8{
	font-family: 'Kaushan Script';
	font-size: 1em;
	bottom: 5px;
	left: 5px;
	color: white;
}
.boxb9 span{
	display: block;
	position: absolute;
}
.boxb9 .s9{
	font-family: 'Kaushan Script';
	font-size: 1em;
	bottom: 5px;
	left: 5px;
	color: white;
}
.boxb10 span{
	display: block;
	position: absolute;
}
.boxb10 .s10{
	font-family: 'Kaushan Script';
	font-size: 1em;
	bottom: 5px;
	left: 5px;
	color: white;
}
.boxb11 span{

	display: block;
	position: absolute;
}
.boxb11 .s11{
	font-family: 'Kaushan Script';
	font-size: 1em;
	bottom: 5px;
	left: 5px;
	color: white;
}
.boxb12 span{
	display: block;
	position: absolute;
}
.boxb12 .s12{
	font-family: 'Kaushan Script';
	font-size: 1em;
	bottom: 5px;
	left: 5px;
	color: white;
}
.boxb13 span{
	display: block;
	position: absolute;
}
.boxb13 .s13{
	font-family: 'Kaushan Script';
	font-size: 1em;
	bottom: 5px;
	left: 5px;
	color: white;
}
.boxb14 span{
	display: block;
	position: absolute;
}
.boxb14 .s14{
	font-family: 'Kaushan Script';
	font-size: 1em;
	bottom: 5px;
	left: 5px;
	color: white;
}
.boxb15 span{
	display: block;
	position: absolute;
}
.boxb15 .s15{
	font-family: 'Kaushan Script' , normal;
	font-size: 1em;
	bottom: 5px;
	left: 5px;
	color: white;
}
.boxb16 span{
	display: block;
	position: absolute;
}
.boxb16 .s16{
	bottom: 5px;
	left: 5px;
	color: white;
}
.boxb17 span{
	display: block;
	position: absolute;
}

.boxb17 .s17{
	font-family: 'Kaushan Script';
	font-size: 1em;
	bottom: 5px;
	left: 5px;
	color: white;
}
.boxb18 span{
	display: block;
	position: absolute;
}

.boxb18 .s18{
	font-family: 'Kaushan Script';
	font-size: 1em;
	bottom: 5px;
	left: 5px;
	color: white;
}
.boxb19 span{
	display: block;
	position: absolute;
}

.boxb19 .s19{
	font-family: 'Kaushan Script';
	font-size: 1em;
	bottom: 5px;
	left: 5px;
	color: white;
}
.boxb20 span{
	display: block;
	position: absolute;
}

.boxb20 .s20{
	font-family: 'Kaushan Script';
	font-size: 1em;
	bottom: 5px;
	left: 5px;
	color: white;
}


.boxb22 span{
	display: block;
	position: absolute;
}

.boxb22 .s22{
	font-family: 'Kaushan Script';
	font-size: 1em;
	bottom: 5px;
	left: 5px;
	color: white;
}
.boxb23 span{
	display: block;
	position: absolute;
}

.boxb23 .s23{
	font-family: 'Kaushan Script';
	font-size: 1em;
	bottom: 5px;
	left: 5px;
	color: white;
}
